* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
form {
    width: 400px;
    margin: auto;
    background-color: rgb(239, 239, 239);
}
.topo {
    text-align: center;
}
.topo h1 {
    margin: 5px auto;
    font-size: 25px;
    color: rgb(54, 54, 54);
}
.topo h2 {
    margin: 5px auto 20px auto;
    font-size: 20px;
    color: rgb(79, 79, 79);
}
label {
    color: rgb(33, 33, 33);
    font-size: 16px;
}
hr {
    margin: 20px auto;
}
.quadrado-azul {
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    width: 370px;
}
div {
    margin: 10px auto;
}
button {
    border: 1px solid black;
    border-radius: 10%;
    width: 90px;
    height: 30px;
}
a {
    color: black;
    font-size: 12px;
}